[submodule "ProductionKernelQuilts"]
	path = ProductionKernelQuilts
	url = https://github.com/01org/ProductionKernelQuilts.git

[submodule "yogabook-linux-kernel"]
	path = yogabook-linux-kernel
	url = https://github.com/jekhor/yogabook-linux-kernel.git
