[submodule "ProductionKernelQuilts"]
	path = ProductionKernelQuilts
	url = https://github.com/01org/ProductionKernelQuilts.git

[submodule "yogabook-linux-kernel"]
	path = yogabook-linux-kernel
	url = https://github.com/jekhor/yogabook-linux-kernel.git
[submodule "android_kernel_lenovo_yeti"]
	path = android_kernel_lenovo_yeti
	url = https://github.com/jekhor/yogabook-linux-android-kernel.git
[submodule "chromiumos_touch_keyboard"]
	path = chromiumos_touch_keyboard
	url = https://github.com/jekhor/chromiumos_touch_keyboard.git
[submodule "live-cd"]
	path = live-cd
	url = https://github.com/jekhor/yogabook-livecd.git
[submodule "android_kernel_lenovo_yeti-sean_hoyt"]
	path = android_kernel_lenovo_yeti-sean_hoyt
	url = https://github.com/deadman96385/android_kernel_lenovo_yeti.git
[submodule "alsa-ucm-conf-yogabook"]
	path = alsa-ucm-conf-yogabook
	url = https://github.com/jekhor/alsa-ucm-conf-yogabook
